.errtip{
    color:red;
}
/*
body,html{
    margin: 0;
    padding: 0;
}*/
form label{
    text-align: right;
    display: inline-block;
    width: 5rem;
}

h3{
    border-bottom: solid 1px #ccc;
}

.toptip{
    color: #f90;
    background-color: yellow;
    border: solid 1px #f60;
    padding:5px;
}
textarea{
    vertical-align: top;
}
td,th{
    text-align: left;
}
tfoot th{
    text-align: left;
}